.hero-section {
  padding-right: 0;
  padding-bottom: 16rem;
}

.hero-section img {
  display: block;
  margin: 1.25rem 0 0 auto;
  max-width: 100%;
}

h1 {
  font-size: 3.3rem;
  line-height: 105%;
  font-weight: 700;
}

h2 {
  font-size: 2.5rem;
}

.hero-section p {
  font-size: 1.25rem;
  padding-right: 1.25rem;
}

.hero-section .subscribeButton {
  position: relative;
}

.hero-section .subscribeButton::after {
  content: "";
  background: url("../assets/arrow-curve.svg") no-repeat;
  display: block;
  content: "";
  width: 100%;
  height: 50px;
  position: absolute;
  top: 5rem;
  left: 10rem;
}

.decoration {
  display: block;
  color: #e64b1a;
  position: relative;
}

.decoration::after {
  content: "";
  background: url("../assets/three-dashes.svg");
  position: absolute;
  top: -1rem;
  height: 36px;
  width: 40px;
}

.courses-section {
  display: grid;
  justify-content: center;
  gap: 20px;
  margin-top: -5rem;
  border-top: none;
}

.card {
  background: #f73f08;
  display: grid;
  justify-content: center;
  align-items: center;
  padding: 1rem 2rem 0 1rem;
  margin-bottom: 1rem;
  max-width: 17.5rem;
  gap: 10px;
  box-shadow: 4px 4px 0 #000;
  border: 2px solid #000;
  
}


.card h3 {
  font-size: 1.8rem;
  font-weight: 600;
}

.card p {
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 30px;
}

.card a {
  margin-left: 11rem;
}

.card:nth-child(2n) {
  margin-left: 0.935rem;
  background: #ff9a3c;
}



.rodape-article {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-weight: 900;
  font-size: 2.5rem;
  margin: 2rem 0;
}

.rodape-article span {
  color: #e64b1a;
}

.btn-courses{
    max-width: 13rem;
    font-size: 1rem;
}

.btn-courses:hover {
  max-width: 13rem;
  font-size: 1rem;
}