@media screen and (min-width: 40rem) {
  header nav {
    display: block;
    text-align: center;
  }

  .cards {
    display: flex;
    flex: 1;
    flex-wrap: wrap;
  }

  .card:nth-child(2n) {
    margin-top: 0.935rem;
  }

  .card:nth-child(2n-1) {
    margin-top: 1rem;
    margin-right: 1rem;
  }
  
}