@media screen and (min-width: 40rem) {
  header nav {
    display: block;
    text-align: center;
  }

  .cards {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .card:nth-child(2n) {
    margin-top: 1rem;
  }
  
}