@import url('./basics.css')

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

:root {
  --color-primary: #ed4d1b;
  --color-secondary: #ff9a3c;
  --color-black: #000;
  --color-white: #fff;
}

body {
  background: linear-gradient(90deg, #ffe7d1 0%, #fff2e6 100%);
  padding: 0 1rem;
}
